<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/sub-life/nearby-store.css">
</head>

<body>
    <!--loading-->
    <div id="load">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="content-detail-wrap">
        <div class="line-box">

        </div>

        <div class="detail-infor mt-1">
            <a id="address" class="address mui-navigate-right">
                <div class="detail-address"></div>
            </a>
            <a class="tel-phone mui-navigate-right">

            </a>
        </div>
    </div>
    <!--<div class="pay-btn-row">
        <div class="mui-row">
            <div class="mui-col-xs-8 pay-title">普惠支付</div>
            <div class="mui-col-xs-4 pay-btn">付款</div>
        </div>
    </div>-->


    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../lib/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=xsS2zVNVwv2OZItBIWdDDgdc&s=1"></script>
    <script src="../../js/sub-life/nearby-stroe-detail.js"></script>
</body>

</html>