<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>便民缴费</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link rel="stylesheet" href="../../common/public.css">
        <link rel="stylesheet" href="../../css/sub-life/pay-fees.css">
    </head>

    <body>
    <div class="mui-content pay-fees">
        <div class="mui-row title-column">
            <div class="mui-col-xs-4 mb-1" id="phone-recharge">
                <div class="mui-table-view-cell">
                    <div class="icon-title mentality-icon-title1">
                        <img src="../../images/sub-life/2_58.png" id="phone">
                    </div>
                    <div>手机充值</div>
                    <p>移动|联通|电信</p>
                </div>
            </div>
            <div class="mui-col-xs-4 mb-1" id="gas-recharge">
                <div class="mui-table-view-cell">
                    <div class="icon-title mentality-icon-title2">
                         <img src="../../images/sub-life/2_61.png">
                    </div>
                    <div>燃气费</div>
                    <p>支持成都地区</p>
                </div>
            </div>
            <div class="mui-col-xs-4 mb-1" id="electricty-recharge">
                <div class="mui-table-view-cell">
                    <div class="icon-title mentality-icon-title3">
                         <img src="../../images/sub-life/2_64.png" id="election">
                    </div>
                    <div>电费</div>
                    <p>支持成都地区</p>
                </div>
            </div>
            <div class="mui-col-xs-4 mb-1" id="water-recharge">
                <div class="mui-table-view-cell">
                    <div class="icon-title mentality-icon-title3">
                         <img src="../../images/sub-life/2_73.png">
                    </div>
                    <div>水费</div>
                    <p>支持成都地区</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/sub-life/pay-fees.js"></script>
    <script>

    </script>
    </body>

</html>