<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>普惠消费</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/public/list.css">
    <link rel="stylesheet" href="../../css/sub-life/puhui-stroe.css">
    <style>

    </style>
</head>

<body>
    <!--loading-->
    <div id="load">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--下拉刷新容器-->
    <div class="mui-content mui-scroll-wrapper">
        <!--<div class="mui-content mui-scroll-wrapper" id="pullrefresh">-->
        <div class="mui-scroll">
            <div class="mui-slider" id="slider">
                <div class="mui-slider-group mui-slider-loop" id="slider-loop">

                </div>
                <div class="mui-slider-indicator" id="slider-indicator">

                </div>
            </div>
            <!--频道-->
            <div class="mui-content">
                <div class="title-column" id="channel-total-wrap">
                    <div id="channel-wrap" class="mui-row"></div>
                </div>
            </div>

            <!--<div id="title">线下优惠商家</div>-->
            <!--数据列表-->
            <!--<ul class="mui-table-view" id="content-list">

                </ul>-->
        </div>
    </div>

    <!--轮播开始-->
    <script type="text/html" id="carousel-loop">
        <div class="mui-slider-item ${className}">
            <a href=${targetUrl}>
                <img data-lazyload=${imageUrl} />
            </a>
        </div>
    </script>
    <!--轮播模板结束-->

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../lib/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script src="../../lib/mui/mui.lazyload.js"></script>
    <script src="../../lib/mui/mui.lazyload.img.js"></script>
    <script src="../../js/public/list.js"></script>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=xsS2zVNVwv2OZItBIWdDDgdc&s=1"></script>
    <script src="../../js/sub-life/puhui-stroe.js"></script>
    <script>
    </script>
</body>

</html>