<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>关于我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/remit-member/person-center.css">
    <link rel="stylesheet" href="../../css/remit-member/about-us.css">
    <style>
        .pwd {
            display: block;
        }
    </style>
</head>

<body>
    <!--loading-->
    <div id="load-wrap">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--提示-->
    <div id="tip">
        <div id="tip-wrap">
            <div id="tip-box"></div>
        </div>
    </div>
    <div class='version'>
        <div class='version-icon'></div>
        <p>成都职工（微信端）： <span id='version'>version</span> </p>
    </div>
    <!--具体内容-->
    <form class="mui-input-group" enctype="multipart/form-data" id="form-submit">

        <div class="mui-input-row" id="link-platform-introduce">
            <div class="border-btm">
                <label>成都职工平台介绍</label>
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>

        <div class="mui-input-row " id="link-service-provider-introduce">
            <div class="border-btm">
                <label>关于四川商通</label>
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>
        <div class="mui-input-row " id="link-sunshine-welfare-introduce">
            <div class="border-btm">
                <label>阳光福利</label>
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>

    </form>
    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../js/public/config.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/about-us.js"></script>
    <script>
        $('#version').text(version);
    </script>
</body>

</html>