<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>进入活动中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/remit-member/person-center.css">
    <link rel="stylesheet" href="../../css/remit-member/about-us.css">
</head>

<body>
    <!--loading-->
    <div id="load-wrap-activity">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--提示-->
    <div id="tip">
        <div id="tip-wrap">
            <div id="tip-box"></div>
        </div>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../js/public/config.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/activity.js"></script>
</body>

</html>