<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>申请详情</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
        <link rel="stylesheet" href="../../common/public.css">
        <link rel="stylesheet" href="../../css/remit-member/apply.css">
    </head>

    <body>
        <!--loading-->
        <div id="load-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        <div id="apply-type"></div>
        <form class="mui-input-group">
            <div class="mui-input-row">
                <div class="border-btm">
                    <label>申请名称</label>
                    <div  class="detail title"></div>
                </div>
            </div>
            <div class="mui-input-row">
                <div class="border-btm">
                    <label>申请时间</label>
                    <div  class="detail create-time"></div>
                </div>
            </div>
            <div class="mui-input-row">
                <div class="border-btm">
                    <label>申请状态</label>
                    <div  class="detail check-status"></div>
                </div>
            </div>
            <div class="mui-input-row" id="remark">
                <div class="border-btm">
                    <label>备注</label>
                    <div  class="detail remark"></div>
                </div>
            </div>
        </form>
        <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
        <script src="../../js/public/fontsize.js"></script>
        <script src="../../lib/mui/dist/js/mui.min.js"></script>
        <script src="../../js/remit-member/apply-detail.js"></script>
        <script>

        </script>
    </body>

</html>