<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>余额</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link href="../../css/public/hint.css" rel="stylesheet">
    </head>

    <body>
        <!--loading-->
        <div id="load-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--具体内容-->
        <div class="balance"></div>
        <p class="hint c-333">我的零钱</p>
        <p class="mui-text-center price">￥<span id="price">0.00</span></p>
        <div class="mui-button-row">
            <button type="button" class="mui-btn my-btn btn-success">充  值</button>
        </div>
        <div id="server">本服务由和信通提供</div>
    </body>

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <!--<script src="../../lib/mui/dist/js/mui.min.js"></script>-->
    <script src="../../lib/jquery-tmpl/jquery.tmpl.min.js"></script>
    <script src="../../js/remit-member/balance.js"></script>
    <script>

    </script>
</html>