<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>开通普惠钱包</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link href="../../common/public.css" rel="stylesheet">
    <link href="../../css/remit-member/pay-pwd.css" rel="stylesheet">
    <link href="../../css/sub-life/puhui-pay.css" rel="stylesheet">
</head>

<body>
    <!--loading-->
    <div id="load-wrap">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <div id="convenient-pay-wrap" class="">


        <div class='progress-bar'>
            <div class='step1 '>1设置支付密码</div>
            <div class='step2 actived'>2实名认证</div>
            <div class='step3 '>3完成</div>
        </div>
        <div class='convenient-content'>
            <div class='convenient-content-pocket'>

            </div>
            <!--<div class='convenient-icon'></div>-->
            <!--<p>绑定银行卡，无需充值即可消费</p>-->
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn my-btn" id="btn-convenient-pay">立即认证</button>
        </div>

        <!--<p id='skip'>跳过，下次添加></p>-->


    </div>

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/convenient-pay.js"></script>
</body>

</html>