<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>入会申请</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link href="../../css/public/hint.css" rel="stylesheet">
    </head>

    <body>
	    <!--loading-->
	    <div id="load-wrap">
	        <div class="spinner">
	            <div class="double-bounce1"></div>
	            <div class="double-bounce2"></div>
	        </div>
	    </div>
        <div class="gh-logo"></div>
        <p class="hint agreement-title">中华全国总工会入会申请书</p>
        <p class="c-333 agreement-content">
           		我自愿加入中华全国总工会，遵守工会章程，执行工会决议，积极参加工会活动，为全面建成小康社会、把我国建设成为富强民主文明和谐的社会主义现代化国家、实现中华民族伟大复兴的中国梦而奋斗。
        </p>
        <div class="mui-button-row">
            <button type="button" class="mui-btn my-agree-btn btn-success my-btn" id="btn-success">同 意</button>
        </div>
        <p class="mui-input-row mui-checkbox  c-333 mui-left agreement">
            <input name="checkbox1" type="checkbox" checked>我已阅读并遵守此协议
        </p>

        <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
        <script src="../../js/public/fontsize.js"></script>
        <script src="../../lib/mui/dist/js/mui.min.js"></script>
        <script src="../../js/remit-member/enter-apply-agreement.js"></script>
        <script>


        </script>
    </body>

</html>