<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>入会成功</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link href="../../css/public/hint.css" rel="stylesheet">
    </head>

    <body>
        <div class="success-infor">
            <div class="bind-success-icon"></div>
            <p class="hint hint-success">入会成功</p>
        </div>
        <div class="mui-button-row">
            <button type="button" class="mui-btn my-btn btn-success" id="btn-success">绑定会员卡</button>
        </div>
    </body>

    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/enter-union-success.js"></script>
    <script>
    
       
    </script>
</html>