<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/remit-member/personal.css">

    <style>

    </style>
</head>

<body>
    <!--loading-->
    <div id="load-wrap">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--提示-->
    <div id="tip">
        <div id="tip-wrap">
            <div id="tip-box"></div>
        </div>
    </div>
    <!--具体内容-->
    <!--顶部头像部分start-->
    <div class='person-top'>
        <div class='person-top-photo'>
            <div class='person-top-photo-img'>
                <img id='person-top-photo-img' src="../../images/public/headImg.png" alt="">
            </div>
            <div class='person-top-nickname'>
                <p class='nickname'></p>
                <p class="name"></p>
            </div>
        </div>
        <div class='person-top-link'>
            <div class='mui-table-view-cell link-to-personal-center' id="personal-center">
                <img src="../../images/remit-member/link-to-personal-center.png" alt="">
            </div>
        </div>
    </div>
    <!--顶部头像部分end-->

    <div class='person-main-content'>
        <div class="mui-input-row" id="puhui-wallet">
            <div class="border-btm">
                <span class="puhui-wallet-icon common-icon"></span> 普惠钱包
                <span class='bind-card-alert'></span>
                <span class='wallet-money' id='price'></span>
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>
        <div class="mui-input-row" id="my-apply">
            <div class="border-btm">
                <span class="puhui-apply-icon common-icon"></span> 我的申请
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>
        <div class="mui-input-row" id="safe-center">
            <div class="border-btm">
                <span class="safe-center-icon common-icon"></span> 安全中心
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>


    </div>

    <div class='person-main-content'>
        <div class="mui-input-row" id="interaction">
            <div class="border-btm">
                <span class="suggest common-icon"></span> 留言建议
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>
    </div>

    <div class='person-main-content' id='person-main-content-about-us'>
        <div class="mui-input-row" id="about-us">
            <div class="border-btm">
                <span class="about-us common-icon"></span> 关于我们
                <a class="f-r mui-navigate-right">
                </a>
            </div>
        </div>
    </div>

    <div class='login-out'>
        <div class='login-out-btn' id="login-out">退出登录</div>
    </div>
    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../js/public/config.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/personal.js"></script>
    <script>
        console.log(local.getItem('token'));
    </script>
</body>

</html>