<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/puhuihua/static/wechat/lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="/puhuihua/static/wechat/common/public.css">
    <link rel="stylesheet" href="/puhuihua/static/wechat/css/remit-member/pay-pwd.css">
    <link rel="stylesheet" href="/puhuihua/static/wechat/css/sub-life/puhui-pay-scan.css">
    <style>

    </style>
</head>

<body>
    <!--loading-->


    <script src="/puhuihua/static/wechat/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="/puhuihua/static/wechat/js/public/fontsize.js"></script>
    <script src="/puhuihua/static/wechat/lib/mui/dist/js/mui.min.js"></script>
    <script src="/puhuihua/static/wechat/lib/jquery/jquery.qrcode.min.js"></script>
    <script src="/puhuihua/static/wechat/lib/jquery/JsBarcode.all.min.js"></script>
    <script src="../../js/public/config.js"></script>
    <script src="/puhuihua/static/wechat/js/remit-member/puhui-pay-scan.js"></script>
    <script>
    </script>
</body>

</html>