<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>普惠记录</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link href="../../common/public.css" rel="stylesheet">
        <link href="../../css/sub-life/puhui-wallet.css" rel="stylesheet">
    </head>

    <body>

    <div class="records-content">

        <!--普惠记录-->
        <ul class="mui-table-view" id="recharge">
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <div class="mui-media-body puhui-records">
                        <div class="f-l img-box"><img src="../../images/sub-life/mentality-consult.png"></div>
                        <div class="f-l pay-type">
                            <p class='deal-type c-333'>充值</p>
                            <span class="c-999 time">2016-10-20</span>
                        </div>
                        <div class="f-r price">普惠享利 1000元</div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <div class="mui-media-body puhui-records">
                        <div class="f-l img-box"><img src="../../images/sub-life/mentality-consult.png"></div>
                        <div class="f-l pay-type">
                            <p class='deal-type c-333'>充值</p>
                            <span class="c-999 time">2016-10-20</span>
                        </div>
                        <div class="f-r price">普惠享利 1000元</div>
                    </div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <div class="mui-media-body puhui-records">
                        <div class="f-l img-box"><img src="../../images/sub-life/mentality-consult.png"></div>
                        <div class="f-l pay-type">
                            <p class='deal-type c-333'>充值</p>
                            <span class="c-999 time">2016-10-20</span>
                        </div>
                        <div class="f-r price">普惠享利 1000元</div>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    </body>

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../js/remit-member/puhui-records.js"></script>
    <script>


    </script>
</html>