<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>充值</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link rel="stylesheet" href="../../common/public.css">
        <link rel="stylesheet" href="../../css/remit-member/person-center.css">
    </head>

    <body style="display: block">
	    <div id="tip"><div id="tip-wrap"><div id="tip-box"></div></div></div>
	    <div class="login-content recharge-content mt-2">
	        <span class="">金额</span>
	        <span class="input-box">
	            <input type="text" class="" placeholder="请输入充值金额" />
	        </span>
	    </div>
	    <p class="mui-input-row mui-checkbox  c-333 mui-left agreement">
	        <input name="checkbox1" type="checkbox" checked>
	        我已阅读并同意<span class="c-red recharge-agreement">《成都职工平台充值服务协议》</span>
	    </p>
	    <div class="mui-button-row">
	        <button type="button" class="mui-btn my-btn c-fff" >立即充值</button>
	    </div>
	    
	    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
	    <script src="../../js/public/fontsize.js"></script>
	    <script src="../../lib/mui/dist/js/mui.min.js"></script>
	    <script src="../../js/remit-member/recharge.js"></script>
	    <script>
	       
	    </script>
    </body>
</html>