<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>成都职工平台充值服务协议</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
        <link href="../../css/public/hint.css" rel="stylesheet">
    </head>

    <body>
        <!--<div class="gh-logo"></div>-->
        <p class="hint agreement-title mt-3">成都职工平台充值服务协议</p>
        <div class="c-333 agreement-content">
	        <p>本充值服务协议（以下简称“本协议”）是四川商通实业有限公司（以下简称“商通公司”）通过银行渠道、支付宝渠道、微信渠道等充值渠道向成都职工平台注册用户(以下简称“用户”或“您”)提供充值服务（以下简称“本服务”）等事项所订立的有效合约。本协议有关用户成都职工平台账户的使用、充值、售后等事宜均须遵循商通公司制定的《成都职工平台注册服务协议》、《 成都职工平台支付服务协议》等规范性文件的约定。</p>
			<p>特别提示：在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您不同意本协议的任意内容，或者无法完全准确理解商通公司对某一条款的解释，请不要进行后续操作。<span class="c-bold">用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与商通公司就本协议内容达成一致，并自愿接受本协议的全部约定内容。</span></p>
			<p>您自愿接受本协议即表示您每次点击确认的行为均是自愿授权商通公司根据您发出的指令划扣您相应银行渠道、支付宝渠道、微信渠道等充值渠道中各支付方式的相应款项。您理解并同意银行渠道、支付宝渠道、微信渠道等充值渠道仅是依据商通公司发出的指令进行款项的划扣，而商通公司发出的指令完全来自于您的自愿授权，故除非商通公司数据系统接收指令错误或充值渠道执行指令错误，否则因此导致的所有风险均由您自行承担，概与商通公司和充值渠道无关。 </p>
			<p><span class="c-bold">您应确保您在使用本服务时发出指令所对应的银行卡账户、支付宝账户、微信账户等充值账户为您本人的合法账户，若您经有效授权使用委托人账户从而给委托人造成损失的，概与商通公司无关。您应确保您使用充值账户的行为合法有效，并保证发出指令的真实性、合法性及有效性，且未侵犯任何第三方合法权益。</span>否则因此造成商通公司、第三方损失的，您应负责赔偿并承担全部法律责任，商通公司有权采取包括但不限于冻结您的成都职工平台账户及资金、从您的成都职工平台账户自行扣除相应款项等措施。</p>
			<p>您应妥善保管与您的成都职工平台账户有关的一切信息（包括但不限于成都职工平台账户的账号、密码、安全码、已绑定的手机号码等），您如发生以下事宜，包括但不限于：遗失手机；更换手机号码；忘记成都职工平台账号、账户名称、密码等相关信息；知晓上述信息有可能已被第三人获取等，您均应及时通过有效方式通知充值渠道及商通公司，以尽可能避免或减少可能发生的损失，否则由此导致的所有损失均由您自行承担，概与商通公司无关，因此给商通公司造成损害的，您须同时承担赔偿责任。</p>
			<p><span class="c-bold">您不应将本服务用于任何非法的或违反本协议目的之事宜。</span></p>
			<p>您如使用本服务进行充值的，应当在认真确认成都职工平台账户信息及充值金额后进行充值确认。您认可和同意：点击“同意协议并确认充值”即视为您确认交易和交易金额并已不可撤销地授权商通公司向充值渠道发出扣划指令，商通公司有权根据您的指令委托充值渠道链接相应支付端口，通过充值渠道划扣资金给商通公司。<span class="c-bold">您根据充值渠道支付规则完成的支付均由您自行负责，届时您不得以非本人意愿交易或其他任何原因要求商通公司退款或承担其他任何责任。</span></p>
			<p>您使用本服务进行充值后，可以凭充值渠道证明原件及充值记录到商通公司营业厅办理发票开具事宜。您认可成都职工平台账户的使用记录数据、交易金额数据等均以成都职工平台系统平台记录的数据为准，同时您授权商通公司有权留存您在商通公司网站或成都职工平台上填写的所有信息，以供后续向您持续性地提供相应服务（包括但不限于将本信息用于向您推广、提供其他更加优质的产品或服务）。</p>
			<p>您同意并授权商通公司依据其自身判断对涉嫌欺诈或被他人控制并用于欺诈目的等违法犯罪行为所对应的成都职工平台账户采取相应的措施，上述措施包括但不限于冻结成都职工平台账户及资金、处置涉嫌欺诈的资金等。<span class="c-bold">出现下列情况之一的，商通公司有权立即终止您使用成都职工平台相关服务而无需承担任何责任：（1）违反本协议的约定；（2）违反商通公司网站的条款、协议、规则、通告等相关规定，并被上述任一网站终止提供服务的；（3）商通公司认为向您提供本服务存在风险的；（4）您的支付账户有效期届满（如有）；（5）其他商通公司认为您的行为可能对自身或第三方造成损害的情况。</span></p>
			<p>在不违反本协议约定的前提下，您可以就使用本服务时因不能归责于您的原因造成的成都职工平台账户内资金损失申请商通公司的补偿。您同意，您能否得到补偿及补偿的具体金额完全取决于商通公司自身独立的判断；您同意并认可商通公司最终的补偿行为并不代表前述资金损失应归责于商通公司，亦不代表商通公司须为此承担其他任何责任；您同意，商通公司在向您支付补偿的同时，即刻取得您可能或确实存在的就前述资金损失而产生的对第三方的所有债权及其他权利，包括但不限于就上述债权向第三方追偿的权利，且您不得再就上述已经让渡给商通公司的债权向该第三方主张任何权利，亦不得再就资金损失向商通公司主张任何权利。</p>
			<p>在接受补偿的同时或之后，您从其它渠道挽回了前述资金损失的，或有新证据证明您涉嫌欺诈的，或者发生您应当自行承担责任的其他情形，您应在第一时间返还商通公司向您支付的补偿款项，否则商通公司有权采取包括但不限于从您成都职工平台账户自行划扣等方式向您进行追偿。</p>
			<p>您同意，本协议适用中华人民共和国大陆地区法律。<span class="c-bold">因商通公司与您就本协议的签订、履行或解释等发生的争议，双方应努力友好协商解决，协商不成，任一方均可向商通公司所在地有管辖权的法院提请诉讼。</span> </p>
			<p>本协议内容包括协议正文及所有商通公司已经发布的或将来可能发布的成都职工平台服务的使用规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。若您在本协议内容发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容，否则您须立即停止使用本服务。</p>
			<p><span class="c-bold">本协议未尽事宜，您须遵守商通公司相关规章制度及成都职工平台网页上公布的相关规则。</span></p>
        </div>

        <script src="../../js/public/fontsize.js"></script>
        <script src="../../lib/mui/dist/js/mui.min.js"></script>
        <script>

        </script>
    </body>

</html>