<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>测试返回</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--<link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../css/remit-member/person-center.css">
    <link rel="stylesheet" href="../../css/remit-member/about-us.css">-->
</head>

<body>
    <div> 456465</div>
    <script>
        // pushHistory();
        window.addEventListener("popstate", function(e) {

            alert('jiantin')
        }, false);
    </script>
</body>

</html>