<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>上海银行电子账户服务协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="le-mobile-web--capable" content="yes">
    <meta name="le-mobile-web--status-bar-style" content="black">
    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link href="../../css/public/hint.css" rel="stylesheet">
</head>
<style>
    .agreement-title {
        line-height: 1.2rem;
    }
    
    .underline {
        text-decoration: underline;
    }
</style>

<body>
    <p class="hint agreement-title">成都市总工会<br/>普惠电子钱包账户服务协议</p>
    <div class="c-333 agreement-content user-agreement-bank">
        <p class="text-indent">
            您自愿申请使用成都市总工会及其合作银行向您提供的普惠电子钱包账户服务，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。
        </p>
        <p class='c-bold'>第一条&nbsp;&nbsp;&nbsp;&nbsp;定义</p>
        <p class="text-indent">
            1、<span class='c-bold'>普惠电子钱包账户：</span>指成都市总工会为您提供的普惠电子钱包账户，由您通过成都职工平台自助申请，经成都市总工会及其合作银行核准后为您开立的，不仅可供您进行直接消费而且可供您进行办理线上充值、理财代扣和定向划付、账户查询与更改绑定银行卡等金融业务的个人账户，<span class='c-bold underline'>您须严格遵守成都市总工会与其合作银行之间签订的相关协议约定，即使该种约定事先并未经过您的授权或同意。</span>
        </p>
        <p class="text-indent">
            2、<span class='c-bold'>绑定手机号码：</span>是指您在申请开立普惠电子钱包账户时，将指定的手机号码与普惠电子钱包账户相关联的行为。绑定的手机号码可用于接收成都市总工会或其合作银行发送的授权码、短信验证码以及交易提示短信等信息，成都市总工会或其合作银行认为必要时，可通过此手机号码向您核实身份信息和交易信息。
        </p>
        <p class="text-indent">
            3、<span class='c-bold'>成都职工平台用户账户：</span>即成都职工平台账号，用户注册使用成都职工平台账户，即可享受成都职工平台提供的金融服务，用户可以使用邮箱或手机号码注册成都职工平台账号。
        </p>
        <p class='c-bold'>第二条&nbsp;&nbsp;&nbsp;&nbsp;申请与开立</p>
        <p class="text-indent">
            1、成都市总工会的普惠电子钱包账户提供给具有完全民事行为能力的自然人，<span class='c-bold underline'>您自愿申请开立普惠电子钱包账户，并承诺申请普惠电子钱包账户时具有完全民事行为能力。</span>
        </p>
        <p class="text-indent">
            2、申请时的身份识别：
        </p>
        <p class="text-indent">
            1）您在成都职工平台发起普惠电子钱包账户开户交易。成都职工平台将核对您的手机号、姓名、身份证号、银行卡号、以及银行卡预留手机号等5要素信息并发送给成都市总工会合作银行。
        </p>
        <p class="text-indent">
            2）成都市总工会合作银行根据成都职工平台发起的开户指令，本地解析核验客户信息。对您身份信息进行公安联网核查，并记录核查结果。对于核查不通过的客户，反馈至成都职工平台，客户身份信息公安联网核查失败；交易超时，等同于核查不通过；核查通过，则进一步验证您银行卡信息。
        </p>
        <p class="text-indent">
            3、申请时的实名认证
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
        成都市总工会合作银行根据成都职工平台提交的姓名、身份证、银行卡、预留手机号送银联进行实名认证（调用银联代扣实名认证接口）。通过上述验证后，成都市总工会合作银行为您开立个人账户，并判断成都职工平台上送的签约标识，为您签约余额理财服务。
             </span>
        </p>
        <p class='c-bold'>第三条&nbsp;&nbsp;&nbsp;&nbsp;使用</p>
        <p class="text-indent">
            1、通过成都职工平台申请的个人账号生成后，您即可按协议约定使用普惠电子钱包账户。
        </p>
        <p class="text-indent">
            2、您知悉并同意：
        </p>

        <p class="text-indent">
            <span class='c-bold underline'>
            1)您通过成都市总工会合作银行身份验证后，成都市总工会合作银行根据账户的姓名、身份证、银行卡、预留手机号送银联进行实名认证（调用银联代扣实名认证接口），通过上述验证后，您自愿申请ECIF客户号并开立个人账户。
            </span>
        </p>
        <p class="text-indent">
            2)您使用通过成都职工平台申请开立的普惠电子钱包账户，成都市总工会合作银行识别您身份的依据为比较成都市总工会合作银行系统内的客户姓名、身份证与本协议约定普惠电子钱包账户姓名、身份证是否一致。
        </p>

        <p class="text-indent">
            <span class='c-bold underline'>
            3、普惠电子钱包账户只限您本人使用，不得出借、转让或出租。否则，由此产生的损失由您自行承担。
            </span>
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            4、成都市总工会及其合作银行为您提供普惠电子钱包账户服务，您应按成都市总工会及其合作银行的规定进行操作，因操作不当造成的损失，成都市总工会及其合作银行均不承担任何责任。
            </span>
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            5、您若遗忘普惠电子钱包账户登陆密码或交易密码，可通过登录成都职工平台进行密码重置。
            </span>
        </p>
        <p class='c-bold'>第四条&nbsp;&nbsp;&nbsp;&nbsp;使用规则</p>
        <p class="text-indent">
            1、您在成都市总工会及其合作银行开立、使用、撤销普惠电子钱包账户，应遵守《人民币银行结算账户管理办法》等中华人民共和国的法律、法规和中国人民银行、中国银行业监督管理委员会及国家外汇管理局的各项规定及成都市总工会及其合作银行的业务制度规定。
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            2、您承诺向成都市总工会及其合作银行提供的所有资料真实、有效、完整、准确、合法，提交的开户证件符合《个人存款账户实名制规定》，未由他人代办或冒充他人申请。</span>如您提供的资料不符合要求或存在代办、冒充他人申请等情形，成都市总工会及其合作银行有权拒绝您的申请，对于已经开立了普惠电子钱包账户的，成都市总工会及其合作银行有权终止协议。
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            3、您应妥善保管普惠电子钱包账户的密码、个人有效身份证件、绑定的手机等个人信息和设备，如上述信息或设备出现遗失、泄露或被他人盗用的情况，您应立即拨打成都职工平台客户服务电话申请账户冻结，在申请完成前，已发生的损失由您自行承担。
            </span>
        </p>
        <p class="text-indent">
            4、您有权按照成都市总工会及其合作银行的普惠电子钱包账户业务规则向成都市总工会及其合作银行发出划转普惠电子钱包账户资金的指令，成都市总工会及其合作银行应实时执行成都市总工会及其合作银行接收到的您的指令
        </p>
        <p class="text-indent">
            5、您知悉并同意，由于技术原因，成都市总工会及其合作银行无法确保系统不间断无差错运行，但成都市总工会及其合作银行出于普惠电子钱包账户维护升级的需要而停止普惠电子钱包账户的部分或全部时，应提前三个工作日通过网站公告，由于成都市总工会及其合作银行无法控制的原因发生的普惠电子钱包账户系统停运，成都市总工会及其合作银行将在发生停止运营后三日内通过网站公告。
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            7、如您违规使用普惠电子钱包账户，成都市总工会及其合作银行有权停止其使用该账户，由此产生的损失由您承担。
            </span>
        </p>
        <p class="text-indent">
            8、普惠电子钱包账户不设有效期，在撤销前均可使用。
        </p>
        <p class="text-indent">
            9、普惠电子钱包账户的撤销：
        </p>
        <p class="text-indent">
            1)您可申请撤销普惠电子钱包账户，普惠电子钱包账户下无有效签约产品时，成都市总工会及其合作银行为您撤销普惠电子钱包账户。
        </p>
        <p class="text-indent">
            2)成都市总工会及其合作银行发现您身份信息不真实，有权撤销您的普惠电子钱包账户。
        </p>
        <p class="text-indent">
            3)其他法定的情形。
        </p>
        <p class="text-indent">
            10、您知悉并同意遵守成都市总工会及其合作银行渠道开立的普惠电子钱包账户的下述特殊使用规则：
        </p>
        <p class="text-indent">
            1)该类账户的账户信息包括但不限于购买产品信息、账号信息，由成都市总工会及其合作银行传输至成都职工平台，您可通过成都职工平台查询账户信息；
        </p>
        <p class="text-indent">
            2)您在成都职工平台完成个人账户开户后，方可在成都职工平台查询、修改账户信息。
        </p>

        <p class='c-bold'>第五条 &nbsp;&nbsp;&nbsp;&nbsp;账户记录和争议处理</p>
        <p class="text-indent">
            1、普惠电子钱包账户各类交易所产生的电子信息均为该交易的有效凭证。
        </p>
        <p class="text-indent">
            2、普惠电子钱包账户不寄送纸质对账单，您可通过成都职工平台核对交易记录。如您对交易有异议，可致电成都职工平台提供的客户服务电话。
        </p>
        <p class="text-indent">
            3、成都市总工会及其合作银行有权变更、暂停普惠电子钱包账户服务渠道、服务项目及内容，并于变更前通过成都职工平台网站、营业网点或其他渠道进行公告。
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            4、您指令一经发出，除成都市总工会及其合作银行允许情况外，不得要求撤销。
            </span>
        </p>
        <p class='c-bold'>第六条&nbsp;&nbsp;&nbsp;&nbsp;信息采集、使用和披露</p>
        <p class="text-indent">
            成都市总工会及其合作银行在法律允许的前提下，为业务和管理需要可收集、处理、传递及应用您的个人资料。成都市总工会及其合作银行对您的个人隐私和商业秘密（包括申请表等）将依法予以保密，未经客户许可，成都市总工会及其合作银行不向任何第三人提供或许可第三人使用客户个人信息，但依照法律、法规规定应向有权机关（包括但不限于向征信机构）披露，或银行为完善服务，必须向相关外包服务提供商提供的除外。
        </p>
        <p class='c-bold'>第七条&nbsp;&nbsp;&nbsp;&nbsp;责任的免除与限制</p>
        <p class="text-indent">
            <span class='c-bold underline'>
            1、您使用普惠电子钱包账户时，如非成都市总工会或其合作银行过错而发生的数据电文错误或者对您指令识别、处理或执行错误时，成都市总工会及其合作银行对因该项错误的发生所导致的损失和其他不利后果不承担责任；但成都市总工会或其合作银行可在您处理时对您提供必要的协助。
         </span>
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            2、对于不可抗力（包括但不限于战争、自然灾害、电力供应中断、火灾、地震等）、意外事件或成都市总工会及其合作银行无法控制的其他情况所造成的损失，成都市总工会及其合作银行不承担责任。
         </span>
        </p>
        <p class="text-indent">
            3、若发生成都市总工会或其合作银行对于合法有效的您指令识别错误或执行错误，则您须在知道或应当知道错误发生后于三个工作日内书面通知成都市总工会及其合作银行并尽力采取措施防止损失扩大，成都市总工会及其合作银行应尽快调查处理并在合理可行的范围内采取补救措施，对于因银行/普惠电子钱包账户系统错误而造成的您直接财产损失，成都市总工会或其合作银行应按适用的规则予以赔偿，<span class='c-bold underline'>但对于任何间接损失、履行利益、后果性损害、非财产损害、成都市总工会及其合作银行于错误发生时不可预见的损失以及因您未能及时通知或及时采取措施而导致扩大的损失，成都市总工会及其合作银行不承担责任。</span>
        </p>
        <p class='c-bold'>第八条&nbsp;&nbsp;&nbsp;&nbsp;公告与变更</p>
        <p class="text-indent">
            <span class='c-bold underline'>
            1、您同意，成都市总工会及其合作银行可对本协议及普惠电子钱包账户使用规则进行单方变更，具体以成都职工平台公告为准。如您在公告之日后继续使用普惠电子钱包账户服务的，视为您已接受上述变更，相关条款根据该等变更而自动作相应修改，双方无须另行签订书面协议。
            </span>
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            2、成都市总工会及其合作银行通过成都职工平台发布普惠电子钱包账户服务相应通知内容的，自发布之日起视为送达；涉及本协议修改的，自发布之日起本协议自动修改。您应及时认真阅读并严格遵守，因您使用不当所造成的损失由您自行承担。
        </span>
        </p>
        <p class='c-bold'>第九条&nbsp;&nbsp;&nbsp;&nbsp;其他</p>
        <p class="text-indent">
            1、您通过成都职工平台提供的业务咨询、短信和电话服务，查询相关业务进度和成都市总工会及其合作银行为您提供的服务内容。<span class='c-bold underline'>因您相信欺诈电话、短信或虚假网站而将普惠电子钱包账户信息泄露造成的全部损失由您自行承担。</span>
        </p>
        <p class="text-indent">
            2、本协议以成都市总工会所在地为履行地，适用中华人民共和国法律、行政法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例。<span class='c-bold underline'>因成都市总工会与您就本协议的签订、履行或解释等发生的争议，双方应努力友好协商解决，协商不成，任一方均可向成都市总工会所在地有管辖权的法院提请诉讼。
              </span>
        </p>
        <p class="text-indent">
            3、本协议未尽事宜，您须遵守成都市总工会及其合作银行相关规章制度及成都职工平台网页上公布的相关规则，成都市总工会及其合作银行可依据中华人民共和国法律、法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例的规则自行办理。
        </p>
        <p class="text-indent">
            <span class='c-bold underline'>
            4、本协议自您在成都市总工会及其合作银行网站、相关APP、微信公众号等申请时点击确认起生效，至您普惠电子钱包账户撤销后终止。
            </span>
        </p>
        <p class="text-indent">
            5、本协议内容包括协议正文及所有成都市总工会及其合作银行已经发布的或将来可能发布的成都职工服务的使用规则，所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。
        </p>

    </div>

    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script>
        // $(function() {
        //     pushHistory();

        //     window.addEventListener("popstate", function(e) {
        //         pushHistory();

        //         window.location.href = 'bind-bankCard.html'

        //     }, false);

        //     function pushHistory() {
        //         var state = {
        //             title: "title",
        //             url: "#"
        //         };
        //         window.history.pushState(state, "title", "#");
        //     }

        // });
    </script>
</body>

</html>