<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>会员卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../common/public.css">
    <link rel="stylesheet" href="../../lib/mui/dist/fonts/mui.ttf">
    <link rel="stylesheet" href="../../css/remit-member/bind-bankCard.css">
    <style>

    </style>
</head>

<body>
    <!--loading-->
    <div id="load-wrap">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--提示-->
    <div id="tip"><div id="tip-wrap"><div id="tip-box"></div></div></div>
    <!--具体内容-->
    <div class="content-wrap display-none">
        <div class="bank-card-wrap clearfix">
            <div class="bank-card-box">
                <div class="bank-logo"><img src="../../images/public/gh-logo.png"></div>
            </div>
            <div class="bank-card-box">
                <p class="card-type" style="margin-top: .3rem">会员卡</p>
                <p class="card-num"></p>
            </div>
        </div>
        <div class="card modify-card mui-navigate-right">修改绑定会员卡</div>
    </div>

    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../lib/form.js"></script>
    <script src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script src="../../js/remit-member/vip-card.js"></script>
    <script>

    </script>
</body>

</html>