<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../lib/mui/dist/css/mui.min.css">
    <link rel="stylesheet" href="../../lib/swiper/swiper-3.4.2.min.css">
    <link href="../../css/orderDetail.css" rel="stylesheet">
    <!--<link href="../../css/remit-member/pay-pwd.css" rel="stylesheet">
    <link href="../../css/remit-member/set-pay-pwd.css" rel="stylesheet">
    <link href="../../css/sub-life/puhui-pay.css" rel="stylesheet">-->
</head>

<body>
    <!--loading-->
    <div class='main-content' id='pullrefresh'>

        <div id="refreshContainer" class="mui-content mui-scroll-wrapper">

            <div class='order-time-wrap'>
                <p class='order-deliver-time'>预计收货时间：7日之内<span>（如未到货请联系客服）</span></p>
                <p>订单号：3972459796253</p>
                <p>下单时间：2017-03-14</p>
            </div>
            <div class='order-address-wrap'>
                <p> 收货人：小瓶子<span class='order-phone'>15887458888</span></p>
                <p class='order-address'><img src="../../images/location.png" alt="">四川成都市武侯区南四段26号附4号黄金小区A区1栋</p>
            </div>
            <div class='order-info-wrap'>
                <div class='order-info-img'>
                    <img src="../../images/1.jpg" alt="">
                </div>
                <div class='order-info-title'>
                    <p class='order-info-first'>雅诗兰黛红石榴套组 红石榴水+洁面+凝霜补水保湿滋养</p>
                    <p class='order-info-specification'>洁面50ml／水100ml／面霜30ml</p>
                </div>
                <div class='order-info-number'>
                    <p class='money'>&yen;18.0</p>
                    <p class='number'>X2</p>
                </div>
            </div>
            <div class='product-total-wrap'>
                <p class='product-total-price'>商品总价<span>&yen;158.0</span></p>
                <p class='product-total-pay'>实付款<span>&yen;128.1</span></p>
            </div>

        </div>
    </div>


    <script src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../js/public/fontsize.js"></script>
    <script src="../../lib/mui/dist/js/mui.min.js"></script>
    <script src="../../lib/swiper/swiper-3.4.2.jquery.min.js"></script>
    <script src="../../js/orderDetail.js"></script>
</body>

</html>