/*我的申请、申请详情*/
.mui-input-group {
    background-color: transparent;
}
.mui-input-group .mui-input-row {
    padding: 0 1rem;
    height: auto;
    background-color: white;
}
.mui-input-group .mui-input-row:after,
.mui-input-group:after {
    position: static;
}
.mui-input-row label {
    padding:.8rem 0;
    width: 25%;
    color: #5e5e5e;
}
.border-btm {
    height: 100%;
    border-bottom: 1px solid #f5f5f5;
}
#apply-type{
    margin: 1.5rem auto .5rem 1rem;
}
.detail{
    float: left;
    padding: .7rem 0;
    width: 75%;
    word-break: break-all;
}
.mui-input-group #remark{
    height: auto;
}